.text-color-normal{
    font-weight: bold !important;
    /* fill: #000080; */
    fill: black;
}

.text-color-velero{
    font-weight: bold !important;
    /* fill: #000080; */
    fill: white;
}

.text-color-libre{
    font-weight: bold !important;
    /* fill: #008f39; */
    fill: #4ADF82;
}

.text-color-longitud{
    font-weight: bold !important;
    fill: #8B0000 !important;
}

.text-color-combustible{
    font-weight: bold !important;
    /* fill: #FF0000 !important; */
    /* fill: #CC0000 !important; */
    fill: orange !important;
}

.text-color-compartido{
    font-weight: bold !important;
    /* fill: #1E90FF !important; */
    fill: #ffff7a !important;
}

.text-color-size-slips{
    font-size: 5.644px;
    /* fill: #8B0000; */
    fill: orange;
    /* fill: #FF9999; */
    /* fill: #FF6666; */
}

.text-color-size-pies{
    font-size: 5.644px;
    /* fill: #8B0000; */
    fill: orange;
    /* fill: #FF9999; */
    /* fill: #FF6666; */
}

.text-style-slips-disponibles{    
    text-anchor:start;
    font-size: 8.467px;
    /* fill: #008f39; */
    fill: #4ADF82;
}

.text-style-slips-ocupados{    
    text-anchor:start;
    font-size: 8.467px;
    /* fill: #000080; */
    fill: white;
}

.text-style-slips-totales{    
    text-anchor:start;
    font-size: 8.467px;
    /* fill: #CC0000; */
    fill: black;
}

.slips-names-align-right{
    text-anchor:start;
}

.slips-names-align-left{
    text-anchor:end;
}

.slips-names-align-center{
    text-anchor:middle;
}

/* .slips-align-left-500{
    text-anchor:end;
}

.slips-align-right-500{
    text-anchor:start;
} */

.style-muelles{
    fill: #FFD28C;
}

.style-marco-contorno{
    fill: #003344;
}

.longitudMenorMuelle{
    /* fill: red; */
    fill: #8B0000;
    font-weight: bold;
}
.longitudMayorMuelleBarco{
    fill: black;
    font-weight: bold;
}
.longitudMayorMuelleVelero{
    fill: white;
    font-weight: bold;
}

.undefined{
    fill: transparent;
}

.redBullet{
    fill: red;
    font-size: 10px;
}
.bulletTextAnchorEnd{text-anchor: end;}
.bulletTextAnchorStart{text-anchor: start;}
.bulletTextAnchorCenter{text-anchor: center;}
.cherryBullet{
    fill: #8B0000;
    font-size: 10px;
}
.transparentBullet{
    fill: transparent;
    font-size: 10px;
}

/* .test::after{
    content: '';
    width: 20px;
    height: 20px;
    background: red;
    fill: aqua;
    display: block;
}
.test::before{
    content: '';
    width: 20px;
    height: 20px;
    background: red;
    fill: aqua;
    display: block;
} */